<!-- form.html -->
<nav id="formNav" class="navbar navbar-default affix">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
      <a class="navbar-brand" href="#">Responsive navbar</a>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
  </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<div class="container-fluid " style="background-color:#686464; padding-top:50px; min-height:100%">
   <div ui-view id="form-views"></div>
    
</div>
    <!-- show our formData as it is being typed -->


