    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
      <a class="navbar-brand" href="#">DerbyHacks</a>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#/home#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#/home#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#/home#faq">Faq</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#/home#venue">Venue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#/home#Past_Sponsors">Past Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#/home#contact">Contact</a>
      </li>
      <li class="nav-item" style="visibility: hidden">
            <a class="nav-link" >Spacing</a>
        </li>
    </ul>
        
    
  </div>
            <!-- /.navbar-collapse -->
        </div>
        
        <!-- /.container-fluid -->
    </nav>
      <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:20px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/white.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>

      <header id="home" class="para-1">
       <div class="cta-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Learning, Recruiting, Building, Networking. DerbyHacks has a little bit for everyone. We'd love you to join us.<br>Feb. 24-26</h1>
                            <a href="#/form/login" class="btn btn-outline btn-xl page-scroll">Log in/Register!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="overlay"></div>
    </header>
<section id="about" class="about bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2  text-xs-center">
                   <img src="img/DFleurH_1.png" class="img-responsive" style="max-width:60%; max-height:50%;">
                    <h2 class="section-heading">What is DerbyHacks?</h2>
                    <p>Derbyhacks is the culmination of a lot of work and a lot of love for hacking. A weekend long invention competition designed to bring lots of people together for a great time of learning, laughing and building. </p>
                </div>
            </div>
        </div>
    </section>

    <section id="faq" class="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-xs-center">
                    <div class="section-heading">
                        <h2>FAQ</h2>
                        <p class="text-muted">Some frequently asked questions</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-user text-primary"></i>
                                    <h3>Who can come</h3>
                                    <p class="text-muted">Any and all college students are allowed to come, no experience required!</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-map text-primary"></i>
                                    <h3>Where will it be?</h3>
                                    <p class="text-muted">DerbyHacks will be in louisville kentucky</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-hourglass text-primary"></i>
                                    <h3>How Long will it be</h3>
                                    <p class="text-muted">DerbyHacks will be a 36 hour hackathon</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-people text-primary"></i>
                                    <h3>Max team size?</h3>
                                    <p class="text-muted">You can fly solo or work with a team of up to 4 people</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-basket-loaded text-primary"></i>
                                    <h3>What should I bring?</h3>
                                    <p class="text-muted">
At minimum bring a laptop, a phone, relevant chargers, various toiletries, deodorant, and if you want them, sleeping bags/pillows, and anything else you may want or need for the weekend.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Will there be swag?</h3>
                                    <p class="text-muted">OF COURSE THERE WILL BE SWAG!!!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="venue" class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Our Venue</h2>
                <h3>DerbyHacks partnered with the city of louisville  to have our hackathon at the Gigabit Experience Center</h3>
                
                <a href="https://louisvilleky.gov/government/gigabit-experience-center" target="_blank" class="btn btn-outline btn-xl page-scroll">Learn more!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    
    
    <section id="Past_Sponsors" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-xs-center">
                    <div class="section-heading">
                        <h2>Past Sponsors</h2>
                        <p class="text-muted">Sponsors who help us out in the past</p>
                        <p class="text-muted">Want to be a sponsor? <a href="sponsorlevelsfinal.pdf" target="_blank">Click here</a></p>
                        
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid">
                        <div class="row vertical-align">
                            <div class="col-md-4">
                                <img src="/img/mirazon.png" class="img-fluid center-block m-x-auto"/>
                            </div>
                            <div class="col-md-4">
                                <img src="/img/Col_HeritageType_2015.png" class="img-fluid thumbnail m-x-auto"/>
                            </div>
                            <div class="col-md-4">
                                <img src="/img/syncano.png" class="img-fluid thumbnail m-x-auto"/>
                            </div>
                        </div>
                        <div class="row vertical-align">
                            <div class="col-md-4" >
                                <img src="/img/IEEE_logo.svg" class="img-fluid m-x-auto"/>
                            </div>
                            <div class="col-md-4">
                                <img src="/img/humana.png" class="img-fluid m-x-auto"/>
                            </div>
                            <div class="col-md-4">
                                <img src="/img/opendate.png" class="img-fluid m-x-auto"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12 text-xs-center">
                    <div class="section-heading">
                        <h2>Partners</h2>
                        <p class="text-muted">Special shoutout to all off our partners</p>
                        <hr>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid">
                        <div class="row vertical-align">
                            <div class="col-md-4">
                                <img src="/img/mlh-logo-color.png" class="img-fluid center-block"/>
                            </div>
                            <div class="col-md-4">
                                <img src="/img/acm.png" class="img-fluid center-block"/>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    </section>
    
    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>Follow us on social media!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter list-inline-item">
                    <a href="https://twitter.com/DerbyHacks17" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook list-inline-item">
                    <a href="https://www.facebook.com/derbyhacks" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-medium list-inline-item">
                    <a href="https://medium.com/@derbyhacks" target="_blank"><i class="fa fa-medium"></i></a>
                </li>
                <li class="social-instagram list-inline-item">
                    <a href="https://www.instagram.com/derbyhacks/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                
            </ul>
        </div>
    </section>


    <footer>
        <div class="container">
            <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
            <p>Specail thanks to MLH for providing the first image</p>
        </div>
    </footer>