    <div class="card" id="form-views" style="width: 100%;max-width: 60rem;margin: 0px auto 100px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
       <div class="card-header">
            <h3>DerbyHacks</h3>
        </div>
        <div class="card-block">
        <h4 class="card-title">Login</h4>
        <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form name=loginform id="login" ng-submit=" processForm(loginform)" novalidate>

                <div class="form-group ">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" ng-model="loginData.email" placeholder="youremail@email.com">
                </div>
                <div class="form-group ">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" ng-model="loginData.password" placeholder="password">
                </div>
                <div class="text-xs-center" style="margin-top:5rem"> 
                    <button type="submit" name="submit" class="btn btn-primary">Login!</button> 
                </div>

            </form>
        </div>

    </div>


