    <div class="card" id="form-views" style="width: 100%;max-width: 60rem;margin: 0px auto 100px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
       <div class="card-header text-xs-center">
            <h3>Dash</h3>
        </div>
        <div class="card-block" ng-switch on ="application.status">
            <h4 class="card-title text-xs-center" style= " font-weight: bold;">Application status : {{application.status | capitalize}}</h4>
                <div class="card-block" ng-switch-when="approved">
                    <p class="card-text text-xs-center" >You have been accepted to DerbyHacks!</p>
                    <p id="going" class="card-text text-xs-center" ng-if="application.going" >You've already RSVP'd. We'll see you at the Hackathon! If for some reason you can't go <a href ng-click="rsvp()">UNRSVP</a>.</p>
                    <p id ="notgoing" class="card-text text-xs-center" ng-if="!application.going">So we can get accurate numbers please <a href ng-click="rsvp()">RSVP</a>.</p>
                    
                </div>
                <p class="card-text text-xs-center" ng-switch-when="waitlisted">You have been Waitlisted. We've received a lot of applications this year and we can't accept everyone. If a spot opens up we'll let you know.</p>
                <p class="card-text text-xs-center" ng-switch-when="denied">We regret to inform you that we are unable to offer you a spot this year. We've received a lot of applications and we can't accept everyone.</p>
            <div class="text-xs-center" style="margin-top:5rem"> 
                        <a href class="btn btn-primary" ng-click="logout()">Logout</a>
                        <a ui-sref="form.app" class="btn btn-primary">Update Application</a> 
                        <a ui-sref="form.update" class="btn btn-primary">Change Password</a>
            </div>
        </div>
    </div>